<div>
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="$dismiss()" aria-hidden="true">×</button>
        <h3>Global Settings</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <i>//TODO: Add some settings.</i><br />
            <label><input type="checkbox" />&nbsp;Enable AWS-based Script Source</label><br/>
            Allow the user to enable AWS integration, specify a url, AWS region, to connect to and store scripts<br/>
            (id/key come from env...)

            <br/>
            Or maybe have a dropdown of script sources (AWS, Azure, SharePoint...) and allow the user to pick and configure...
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="$close()">OK</button>
    </div>
</div>